<div class="profile flex gap-4 justify-between items-center">
  <div>
    <h1 class="text-4xl">Olá, meu nome é Thiago!</h1>
    <h3 class="text-xl">Desenvolvedor Web</h3>
    <p class="mb-4 text-lg">
      Apaixonado pela web e tudo que é possível fazer com ela.
    </p>
    <a
      href="https://www.linkedin.com/in/thfrod"
      rel="nofollow noopener"
      mat-flat-button
      color="primary"
    >
      Contate-me
      <mat-icon class="mat-18">call</mat-icon>
    </a>
  </div>

  <app-profile></app-profile>
</div>
